{
  "rules": {
    "indent": "off",
    "max-len": [
      2,
      120
    ],
    "valid-jsdoc": 2,
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "linebreak-style": 0,
    "comma-dangle": 0,
    "keyword-spacing": 0,
    "no-trailing-spaces": 2
  }
}
